@font-face {
    font-family: Billabong;
    src: url(../fonts/billabong.ttf);
}

@font-face {
    font-family: Sanfrancisco;
    src: url(../fonts/sanfrancisco.ttf);
}

@font-face {
    font-family: Tahoma;
    src: url(../fonts/tahoma.ttf);
}

html,head,body{
	padding: 0;
	margin: 0;
}

.header{
	float: left;
	width: 100%;
	height: 70px;
	background-color: #fafafa;
	box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.52);
}

.header p {
	float: left;
	margin: 0;
	margin-top: 13px;
	padding: 0;
	text-align: left;
	font-family: Billabong;
	font-size: 35px;
	color: #0a5885;
}

.headcenter{
	margin: 0 auto;
	height: 100%;
	width: 700px;
}

.headsignin{
	margin-right: 25px;
	border: none;
	height: 22px;
	width: 60px;
	background-color: #0a5885;
	border-radius: 3px;
	float: right;
	margin-top: 25px;
	font-family: Billabong;
	font-size: 12px;
	color: white;
	text-align: center;
	line-height: 21px;
}

.main{
	clear: both;
	width: 100%;
	min-height: 650px;
	
}

.maincentral{
	padding-top: 20px;
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	min-height: 400px;
}

.view {
	 width: 200px;
	 height: 250px;
	 float: left;
	 overflow: hidden;
	 position: relative;
	 text-align: center;
	 box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.52);
	 margin-right: 25px;
	 margin-bottom: 25px;
	 cursor: default;
	 border: 4px solid #fff;
}
.view .mask, .view .content {
	 width: 200px;
	 height: 250px;
	 position: absolute;
	 overflow: hidden;
	 top: 0;
	 left: 0
}
.view img {
	 display: block;
	 position: relative
}
.view h2 {
	font-family: Tahoma;
	 text-transform: uppercase;
	 color: #fff;
	 text-align: center;
	 position: relative;
	 font-size: 17px;
	 font-size: 14px;
	 padding: 10px;
	 background: rgba(0, 0, 0, 0.8);
	 margin: 20px 0 0 0
}
.view p {
	 font-family: Georgia, serif;
	 font-style: italic;
	 font-size: 12px;
	 position: relative;
	 color: #fff;
	 padding: 10px 20px 20px;
	 text-align: center
}
.view a.info {
	 display: inline-block;
	 text-decoration: none;
	 font-family: Tahoma;
	 padding: 7px 14px;
	 background: #000;
	 color: #fff;
	 text-transform: uppercase;
	 box-shadow: 0 0 1px #000;
	 font-size: 11px;
}
.view a.info:hover {
	 box-shadow: 0 0 5px #000
} 

.view img {
	 transition: all 0.2s linear;
}
.view .mask {
	 opacity: 0;
	 background-color: rgba(110, 111, 145, 0.7);
	 transition: all 0.4s ease-in-out;
}
.view h2 {
	 transform: translateY(-100px);
	 opacity: 0;
	 transition: all 0.2s ease-in-out;
}
.view p {
	 transform: translateY(100px);
	 opacity: 0;
	 transition: all 0.2s linear;
}
.view a.info{
	 opacity: 0;
	 transition: all 0.2s ease-in-out;
}

.view:hover img {
	 transform: scale(1.1);
}
.view:hover .mask {
	 opacity: 1;
}
.view:hover h2,
.view:hover p,
.view:hover a.info {
	 opacity: 1;
	 transform: translateY(0px);
}
.view:hover p {
	 transition-delay: 0.1s;
}
.view:hover a.info {
	 transition-delay: 0.2s;
}

#nomarginright{
	margin-right: 0;
}

.footer{
	margin-top: 20px;
	width: 100%;
	height: 60px;
	background-color: #fafafa;
	text-align: center;
	font-family: Tahoma;
	font-size: 11px;
	line-height: 60px;
	color: #c8c8c8;
}

.metro-scheme{
	margin: 0 auto;
	width: 650px; 
	height: 650px;
	background-image: url(../img/metro-bg.png);
	background-size: 650px 650px;
	background-repeat: no-repeat;
}

.station{
	position: absolute;
	float: left;
	font-family: Tahoma;
	font-size: 11px;
	cursor: pointer;
}

.station:hover{
	color: #0a5885;
}

.sign-in-page{
	background-color: #fafafa;
}

.sign-in-logo{
	width: 100%;

	height: 80px;
	line-height: 80px;
	text-align: center;
	font-family: Billabong;
	font-size: 35px;
	color: #0a5885;
}

.sign-in-textblock{

	font-family: Tahoma;
	font-size: 13px;
	color: #434343;
	line-height: 30px;
	height: 30px;
	width: 100%;
}

.sign-in-textblock p{
	text-align: center;
	font-weight: 900;
	font-size: 12px;
	margin: 0;
	margin-top: 10px;
}

.sing-in-window {
	padding-left: 15px;
	padding-right: 15px;
    float: left;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #edeeee;
    border-radius: 5px;
    height: 310px;
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin-left: -200px;
	margin-top: 150px;
    width: 350px;
}



.sign-in-field {
	padding-left: 8px;
    background-color: #fdfdfd;
    border: 1px solid #edeeee;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
	height: 35px;
	font-size: 13px;
    width: 100%;
}

.sign-in-button-form{
	background-color: #66bd2b;
	margin-top: 10px;
	width: 100%;
	height: 35px;
	border-radius: 3px;
	border: none;
	color: white;
	font-weight: 900;
	font-size: 13px;
	text-align: center;
	font-family: Tahoma;
}



.sign-up-window {
	padding-left: 15px;
	padding-right: 15px;
    float: left;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #edeeee;
    border-radius: 5px;
    height: 400px;
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin-left: -200px;
	margin-top: 150px;
    width: 350px;
}



#akademgorodok{margin-left: 50px; margin-top: 78px;}
#zhitomirska{margin-left: 50px; margin-top: 114px;}
#svyatoshin{margin-left: 50px; margin-top: 149px;}
#nivki{margin-left: 63px; margin-top: 189px;}
#berest{margin-left: 0px; margin-top: 234px;}
#shulyavska{margin-left: 37px; margin-top: 261px;}
#kpi{margin-left: -13px; margin-top: 288px;}
#vokzalna{margin-left: 159px; margin-top: 283px;}
#univer{margin-left: 200px; margin-top: 313px;}
#teatr{margin-left: 268px; margin-top: 313px;}
#kreshyatik{margin-left: 345px; margin-top: 313px;}
#arsenal{margin-left: 347px; margin-top: 333px;}
#dnepr{margin-left: 401px; margin-top: 355px;}
#gidro{margin-left: 451px; margin-top: 379px;}
#levober{margin-left: 521px; margin-top: 375px;}
#darni{margin-left: 499px; margin-top: 330px;}
#chernig{margin-left: 498px; margin-top: 306px;}
#les{margin-left: 555px; margin-top: 281px;}
#sirec{margin-left: 200px; margin-top: 180px;}
#dorogozh{margin-left: 232px; margin-top: 205px;}
#luk{margin-left: 259px; margin-top: 233px;}
#zolot{margin-left: 283px; margin-top: 260px;}
#dvorec{margin-left: 329px; margin-top: 370px;}
#klovska{margin-left: 352px; margin-top: 408px;}
#pecher{margin-left: 352px; margin-top: 438px;}
#druzhbi{margin-left: 352px; margin-top: 471px;}
#vidub{margin-left: 368px; margin-top: 503px;}
#slavut{margin-left: 348px; margin-top: 561px;}
#osokorki{margin-left: 368px; margin-top: 585px;}
#poznyaki{margin-left: 435px; margin-top: 615px;}
#kharkiv{margin-left: 489px; margin-top: 615px;}
#virlica{margin-left: 499px; margin-top: 568px;}
#boris{margin-left: 490px; margin-top: 543px;}
#khutor{margin-left: 516px; margin-top: 519px;}
#geroiv{margin-left: 353px; margin-top: 52px;}
#minska{margin-left: 353px; margin-top: 84px;}
#obolon{margin-left: 353px; margin-top: 118px;}
#petrivka{margin-left: 353px; margin-top: 157px;}
#taras{margin-left: 353px; margin-top: 187px;}
#kontrakt{margin-left: 353px; margin-top: 217px;}
#poshtova{margin-left: 353px; margin-top: 247px;}
#maidan{margin-left: 353px; margin-top: 277px;}
#lvatolstogo{margin-left: 213px; margin-top: 357px; text-align: right;}
#olimpiyska{margin-left: 193px; margin-top: 407px;}
#palac{margin-left: 171px; margin-top: 437px;}
#libidska{margin-left: 205px; margin-top: 471px;}
#demiivska{margin-left: 180px; margin-top: 505px;}
#golos{margin-left: 147px; margin-top: 532px;}
#vasilkovska{margin-left: 117px; margin-top: 555px;}
#vistavka{margin-left: 70px; margin-top: 577px;}
#ipodrom{margin-left: 130px; margin-top: 615px;}
#teremki{margin-left: 80px; margin-top: 615px;}